.section-nucleo-icons {
    .description {
        color: #000 ;
        font-weight: 400;
   }
}

.hp-tel {
    white-space: nowrap;
}


#mapa {
    img {
        max-width: none !important;
    }
}

.description {
        color: #000 ;
        font-weight: 400;
   }