
#contact {
    padding-bottom: 100px;
    .social {
    font-family: $font-secondary;
    font-size: 1.5rem;
    font-weight: bold;
    }
}

.contact {
    color: $color-hover;
        &:hover {
            font-size: 1.6rem;
        }
}

.socialBr {
    color: $color-hover;
}