footer a {
    @media (max-width: $break-xs) {
        display: none;
    }
}

footer p {
    @media (max-width: $break-xs) {
        text-align: center;
    }
}

.footWrap {
    padding: 0 20px;
}