
header {
    height: 460px;
    background: linear-gradient(#ffa94991, #fff0),
    url('../img/bg-mikulov.jpg'); 
    background: {
        position: center;
        size: cover;
        repeat: no-repeat;
    }   
    padding: 154px 0 100px;

    & .container {
        width: 100%;
    }
}

header {
    @media (min-width: $break-lg) {
        padding: 156px 0 100px;
        height: 440px;
    }
    @media (max-width: $break-lg) {
        height: 400px;
    }

    @media (max-width: $break-xs) {
        height: 360px;
    
    }
}


.img-featured {
    @include roundy(165px, 4px solid $white);
    margin-top: 155px; 
    position: relative;
    z-index: 100;
    
    @media (max-width: $break-lg) {
        margin-top: 105px;
    }

    @media (max-width: $break-xs) {
        margin-top: 90px;
    }
}

    .introP {
        font-family:$font-secondary;
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 10px;
        font-size: 1.6em;
        font-weight: bold;
    }


nav a:hover {
    @media (min-width: $break-lg) {
        color: $color-hover; 
    }
}
