/*     HEADER      */
header {
    height: 460px;
    background: linear-gradient($color-gradient2, $color-gradient), url('../img/bg.jpg');
    background: {
        position: center;
        size: cover;
        repeat: no-repeat;
    } 

    ;
    background-blend-mode: multiply;
    padding: 154px 0 100px;

    @include skewed {
        background-color: $white;
        bottom: -25px;
    }

    ;
}

header {
    @media (min-width: $break-lg) {
        padding: 156px 0 100px;
        height: 440px;
    }

    @media (max-width: $break-xs) {
        height: 360px;
    }
}


.img-featured {
    @include roundy(165px, 4px solid $white);
    margin-top: -15px; 
    position: relative;
    z-index: 100;
    
    

    @media (max-width: $break-xs) {
        display: none;
    }
}


h1 {
    color: $white;
    font-weight: bold;
    font-size: 4.8rem;
    letter-spacing: 5px;
    text-shadow: 2px 2px #6e9024; //#6e9024 #ff0000

    @media (max-width: $break-xs) {
        font-size: 3.4em;
        text-align: left;
    }
}

nav a:hover {
    @media (min-width: $break-lg) {
        color: $color-hover;
    }
}


