/*      NAV     */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: $color-hover !important;
    border: 1px solid transparent;
    border-radius: .25rem;
}


nav {
     font-family: $font-nav;
    a {
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1.3px;
    @media (max-width: 992px) {
        color:$base-nav-color;
    }
    @media (min-width: $break-lg) {
        text-shadow: 1px 1px 10px $black;

    }
    }


}
#navbarResponsive a {
    &:hover {
        color: $color-hover;
    }
}



#home {
       @media (max-width: 992px) {
           color: $color-hover !important;
       }
}

.navbar-light .navbar-brand  {
  color: $color-hover !important;
}

.navbar-light .navbar-nav .nav-link {
    color: $base-nav-color;
}
.navbar-light .navbar-nav .nav-link.active {
    color: $color-hover !important;
}

 #mainNav {
     @media (max-width: 992px) {
         background-color: $mainNav-color !important;
     }
 }

 .bg-light a {
    text-shadow: none !important;
}
