.card  {
    box-shadow: 9px -7px 9px 0px #00000075;
   /* &:hover {
    background: linear-gradient($color-gradient2, $color-gradient)
    }*/
    
}

.card-title {
    margin-bottom: .75rem;
    color: #f05f40;
    font-weight: bold;
}

.projectP {
    width: 90%;
    margin: auto;
    text-align: center;
}



