.card  {
    box-shadow: 9px -7px 9px 0px #00000075;
}

.card-title {
    margin-bottom: .75rem;
    color: $color-hover;
    font-weight: bold;
}

.projectP {
    width: 90%;
    margin: auto;
    text-align: center;
}

#cards a {
    color: $grey;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    
    &:hover {
        color: $color-hover;
        text-decoration: none;
    }
}

#portfolio ul {
    list-style-type: circle;

    @media (max-width: $break-xs) {
        list-style-type: none;
    }
}
