/* ANOTHER IDEAS: 
Nav .container {
    width: 80%;
}

COLORS:
#278da4;
#b13c69;
#eeea72;
#eee;
#343434;
#3acec2;
#009fe1;
*/

/*p {
    neco: neco;
    .class & {
        neco:neco;
    }
}
*/

/*.btn {
    &-primary {
        color:red;
    }

    &-secondary {
        color: green;
    }
}
*/

/* MORE EXAMPLES     */
/*
%btn {
    color: $white;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    border-radius: 0.35em;

    &:hover {
        color: $white;
        opacity: 0.8;
    }

    &:active {
        opacity: initial;
    }
}

.btn {
    &-callout {
        @extend %btn;
        font-size: 1.1em;
        background-color: $color-secondary;
    }

    &-info {
        @extend %btn;
        font-size: 0.85em;
        background-color: $color-primary;
        margin-top: auto;
    }
}
*/