$base: rgb(207, 96, 96);
$base-darker: darken($base, 25%);
$base-lighter: lighten($base, 25%);

$complement: complement($base);


/*
 &:hover {
     color: rgba($color-accent, 0.7);
 }
*/

.introP {
    font-family: 'Dancing Script',
    cursive;
    font-weight: bold;
    width: 90%;
    font-size: 1.5em;
}

h1 {
    font-family: 'Great Vibes',
    cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 4em;
}





footer a {
    @media (max-width: $break-xs) {
        display: none;
    }
}
footer p {
    @media (max-width: $break-xs) {
        text-align: center;
    }
}

.test1 {
    font-family: $font-secondary;
    font-size: 1.2em;
}

#portfolio ul {
    list-style-type: circle;
    @media (max-width: $break-xs) {
        list-style-type: none;
    }
}